body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.form_wrapper {
    background: #fff;
    width: 400px;
    max-width: 80%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 15px;
}

.input_field {
    display: grid;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input,
button {
    padding: 8px;
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #f5ba1a;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #d5a513;
}